@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

* {
  font-family: "Roboto", Arial, sans-serif; }

a {
  display: inline-block; }

.container {
  width: 1200px;
  margin: 0 auto; }

#wrapper {
  padding-top: 20px; }

html {
  background-color: #1C2439; }

body {
  height: 2500px; }

#wrapper {
  background-image: url(../img/soldier.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  height: 500px; }

body {
  background-image: url(../img/night_forest.jpg);
  background-position: center bottom;
  background-repeat: no-repeat; }

#primary-menu {
  background-color: #FF9700;
  height: 75px;
  width: 50%;
  margin: 0 auto;
  position: relative; }
  #primary-menu:before {
    content: " ";
    top: 0;
    left: -75px;
    position: absolute;
    border: 37.5px solid transparent;
    border-right-color: #FF9700;
    border-bottom-color: #FF9700; }
  #primary-menu:after {
    content: " ";
    top: 0;
    right: -75px;
    position: absolute;
    border: 37.5px solid transparent;
    border-left-color: #FF9700;
    border-bottom-color: #FF9700; }
  #primary-menu ul {
    padding: 0;
    margin: 0;
    font-size: 0;
    overflow: hidden;
    text-align: center; }
    #primary-menu ul li {
      display: inline-block;
      list-style: none;
      font-size: 16px; }
      #primary-menu ul li a {
        color: #fff;
        text-decoration: none;
        height: 75px;
        line-height: 75px;
        padding: 0 15px;
        position: relative;
        z-index: 999; }
        #primary-menu ul li a:hover {
          color: #333; }
        #primary-menu ul li a:before {
          content: " ";
          position: absolute;
          left: -1px;
          top: -25px;
          width: 100%;
          height: 150px;
          transform: rotate(20deg);
          background-color: white;
          z-index: -1;
          opacity: 0; }
        #primary-menu ul li a:hover::before {
          opacity: 1; }

#secondary-menu {
  background-color: #FF9700;
  height: 75px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px; }
  #secondary-menu ul {
    padding: 0;
    margin: 0; }
    #secondary-menu ul li {
      display: inline-block;
      list-style: none;
      margin-right: 20px;
      list-style: none; }
